<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= @project.name %></title>
<meta name="keywords" content="glossy box, web design, colorful background, free templates, website templates, CSS, HTML" />
<meta name="description" content="Glossy Box | free website template with a colorful background" />
<%= stylesheet_link_tag "templatemo_style" %>
<%= stylesheet_link_tag "jquery.ennui.contentslider" %>
<%= stylesheet_link_tag "jquery.jqplot.min" %>
<%= javascript_include_tag "spa" %> 
<%= favicon_link_tag "/favicon.ico?1" %>
<script>

</script>
</head>
<body>

<div id="templatemo_wrapper_outer">
	<div id="templatemo_wrapper">
    
    	<div id="templatemo_header">
			<div id="site_title">
                <% if content_for?(:site_title) %>
                        <div><%= yield :site_title %></div>
                    <%end%>
			</div> <!-- end of site_title -->

				<ul id="social_box">
					<li><a href="http://www.facebook.com/templatemo"><%= image_tag "facebook.png" %></a></li>
					<li><a href="#"><%= image_tag "twitter.png" %></a></li>
					<li><a href="#"><%= image_tag "linkedin.png" %></a></li>
					<li><a href="#"><%= image_tag "technorati.png" %></a></li>
					<li><a href="#"><%= image_tag "myspace.png" %></a></li>                
				</ul>
			
			<div class="cleaner"></div>
		</div>
        
        <div id="templatemo_menu">
            <ul>
                <li><a id="home_button" href="#" class="current">Home</a></li>
                <li><a id="comments_button" href="#">Comments</a></li>
                <li><a id="surveys_button" href="#">Surveys</a></li>
                <li><a id="issues_button" href="#">Issues</a></li>
            </ul>    	
        </div> <!-- end of templatemo_menu -->
        
        <div id="templatemo_slider_wrapper">
        
        	<div id="templatemo_slider">
                
                 <% if content_for?(:gallery) %>
                        <div><%= yield :gallery %></div>
                <%end%>
				
                
                <!-- Site JavaScript -->
               
                <%= javascript_include_tag "jquery.easing.1.3.js" %>
                <%= javascript_include_tag "jquery.ennui.contentslider.js" %>
 

                <div class="cleaner"></div>
            	
            </div>
        
        </div>
        
        <div id="templatemo_content_wrapper">
            <%= yield %>
            <div id="chart7"> </div>
			
            <div class="cleaner"></div>        
        
		</div>
		
		<div id="templatemo_content_wrapper_bottm"></div>
   
		<div id="templatemo_footer">
		
             Copyright © 2013 <a href="#">Krzysztof Król</a> | Designed by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>
			 
       </div>
        
	</div> <!-- end of wrapper -->
</div> <!-- end of wrapper_outer -->



</body>
</html>